.hl-code {
  font-size: 12px;
  display: inline;
  max-width: auto;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

.hl-section {
  min-height: 100vh;
}

.hl-intro {
  min-height: 100vh;
}

.hl-title {
  padding-top: 40vh;
}

.hl-timeline {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hl-footer {
  padding-bottom: 10vh;
}
