---
layout: default
title: Harry Lane
permalink: /
---

<!-- About -->
<section id="about">
  <div class="container">
    <div class="row section-title">
      <div class="col-md-12">
        <h2>About</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>
          Hi! I'm Harry. I like meeting new people, hearing new ideas, and solving on hard problems.
          I'm an aspiring developer who wants to help improve the lives of people everywhere with technology.
          Look at some of the work I've done or contact me below.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Projects -->
<section id="projects">
  <div class="container">
    <div class="row section-title">
      <h2>Projects</h2>
    </div>
    
    {% for project in site.projects %}
      {% capture evenodd %}{% cycle 'odd', 'even' %}{% endcapture %}
      {% if evenodd == 'odd' %}
        <div class="row">
      {% endif %}
    
      <div class="col-sm-5 {% if evenodd == 'odd' %} col-sm-offset-1 {% endif %}">
        <div class="projects-item">
          <a href="{{ project.href }}">
              <h4>{{ project.title }}</h4>
          </a>
          <p>{{ project.description }}</p>
        </div>
      </div>
      
      {% if evenodd == 'even' %}
        </div>
      {% endif %}
    {% endfor %}
    
  </div>
</section>


<!-- Resume Download -->
<section id="resume">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title">
        <h2>Need a Resume?</h2>
        <a class="btn btn-default btn-resume" href="/harrylane_resume.pdf" >Download One Here</a>
      </div>
    </div>
  </div>
</section>

